Temp/
gt_venv/
__pycache__/
.vscode/
.ipynb_checkpoints/
token_SHEETS_v4.pickle
token_gmail_v1.pickle
Resources/Givetel_CLIs.xlsx
Resources/Givetel_Users.xlsx
token_SHEETS_v4.pickle
token_gmail_v1.pickle
*.bat
.cache
vpn_creds.json
client_secret.json
credentials.json
new_user_credentials_jesse aws.csv
Logs/
Secrets/
venv/
.venv/
debug.log
pyvenv.cfg
token.pickle